* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(pictures/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

#full-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#pet-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

#pet-container img {
  max-width: 100%;
  height: auto;
}

#status {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

#health {
  background-color: aliceblue;
  padding: 20px;
  margin: 0 100px 0 0;
  font-family: "Roboto", sans-serif;
}

#happiness {
  background-color: aliceblue;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

#buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

#feed-button {
  border: none;
  margin: 20px;
  padding: 50px;
  font-size: 2em;
  border-radius: 10px;
  cursor: pointer;
}

#play-button {
  border: none;
  border-radius: 10px;
  font-size: 2em;
  margin: 20px;
  padding: 50px;
  cursor: pointer;
}

/* Animasjonene */
.pet-shake {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.button-clicked {
  transform: scale(0.9);
  opacity: 0.7;
  transition: transform 0.1s, opacity 0.1s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
