* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  background-color: #4e54c8;
  padding: 20px;
}

li {
  display: flex;
  margin-right: 30px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#calculator-section {
  display: flex;
  margin: 30px;
}

#result {
  margin-left: 10px;
}

.line-breaker {
  margin: 20px 0 0 0;
  height: 20px;
  background-color: rgb(39, 39, 39);
}

#joke-generator {
  padding: 50px 50px;
  font-family: "Roboto", sans-serif;
}

#joke-setup {
  margin: 20px;
  font-weight: bold;
}

#joke-punchline {
  margin: 20px;
}

#joke-button {
  font-weight: bold;
  padding: 20px;
  margin: 15px;
  border-radius: 20px;
  border: 2px solid #9ca1ff;
  background: linear-gradient(to top, #4e54c8, #8f94fb);
}
